<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mosicom</title>
</head>
<body>
<table style="padding: 10px">
    <tr>
        <td>Name:</td>
        <td>Duration:</td>
        <td>Popularity:</td>
        <td>Album:</td>
        <td>Bands:</td>
    </tr>
    <tr th:each="track : ${pagedTracks.getTracks()}" th:id="'track-' + ${track.getId()}">
        <td><a th:text="${track.getName()}" th:href="${track.getUrl()}"></a></td>
        <td th:text="${track.getDurationMs() / 1000 / 60} + ':' + ${(track.getDurationMs() / 1000) % 60}"></td>
        <td th:text="${track.getPopularity()}"></td>
        <td th:id="'album-' + ${track.getAlbum().getId()}">
            <a th:text="${track.getAlbum().getName()}"
               th:href="'http://localhost:8080/album/' + ${track.getAlbum().getId()}">
            </a>
        </td>
        <td>
            <table>
                <tr th:each="band : ${track.getBands()}">
                    <td th:id="'band-' + ${band.getId()}">
                        <a th:text="${band.getName()}"
                           th:href="'http://localhost:8080/band/' + ${band.getId()}">
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<footer>
    <span th:each="i : ${#numbers.sequence(1, pagedTracks.getTotalPages())}">
        <a th:href="'http://localhost:8080/all/' + ${i}" th:text="${i}"></a>
    </span>
</footer>
</body>
</html>