<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Band Search Form</title>
</head>
<body>
<form action="#" th:action="@{/band/search result}" th:object="${band}" method="get">
    <table style="padding: 10px">
        <tr>
            <td>
                <label for="name">Name:</label>
            </td>
            <td>
                <input id="name" type="text" th:field="${band.name}" required>
            </td>
        </tr>
        <tr>
            <td>
                <input id="submit" type="submit" value="search">
            </td>
        </tr>
    </table>
</form>
</body>
</html>