<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Band Delete Form</title>
</head>
<body>
<form action="#" th:action="@{/band/delete form}" th:object="${band}" method="post">
    <table style="padding: 10px">
        <tr>
            <td>
                <label for="id">Id:</label>
            </td>
            <td>
                <input id="id" type="number" th:field="${band.id}" required>
            </td>
        </tr>
        <tr>
            <td>
                <input id="submit" type="submit" value="update">
            </td>
        </tr>
    </table>
</form>
</body>
</html>